.courses{
    width: 50%;
    margin: 0 auto;
    margin-top: 3rem;
}
.cardbox{
    float: left;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 5px 5px #adaaaa;
}
.head{
    font-size: 1.5rem;
}
.cardrow{
    margin-left: 1rem;
}
.pre-sea{
    width: 100%;
    height: auto;
    font-family: Courier New;
    font-weight: 600;
    background-color: #009f82;
    padding: 1rem;
    color: aliceblue;
    border-radius: 5px;
}
.texts{
    float: left;
    margin: 0.5rem;
    padding: 1rem;
}
.texts1{
    float: left;
    margin: 0.5rem;
    padding: 1rem;
    border: 1px dotted black;
}
.hotelimage{
    width: 30%;
    float: right;
}
a{
    text-decoration: none;
    color: black;
}
#new1{
    margin-top: 10px;
    border-top: 2px dotted rgb(34, 160, 131);
    width: 100%;
    margin-left: 0px;
    position: relative;
}
.left-pre-box{
    width:27%;
	height:auto;
	float:left;
}
.left-pre-box-text{
    width:90%;
	height:auto;
	float:left;
	padding:10px;
	margin:1px ;
	text-align:left;
    color:#fff;
	background:#009f82;
}

.right-box-pre{
    width:72%;
	height:auto;
	float:right;
	margin-left:2px;
}

.right-pre-box-text{
	height:auto;
	float:right;
	margin:2px;
	font-size:14px;
	color:#000;
	line-height: 1.3rem;
	text-align:justify;
	padding:10px;
	border:1px solid #009f82;
}
.title{
    width:90%;
	height:auto;
	float:left;
	padding:10px;
	margin-left:1px;
	margin-bottom:1px;
	font-size:14px;
	color:#fff;
	background:#009f82;
	text-align:left;
}
.title2{
    width:96%;
	height:auto;
	float:left;
    margin-left:1px;
	padding:10px;
	font-size:14px;
	color:#fff;
	background:#009f82;
	text-align:left;
}
.pre-box-end{
    height:50px;
    width: 31%;
	float:left;
	padding:10px;
    margin-left: 1px;
    margin-top: 10px;
	font-size:14px;
	color:#fff;
	background:#009f82;
	text-align:center;
}
.bottom-box{
    height:80px;
    width: 30.5%;
	float:left;
	padding:10px;
    margin: 2px;
	font-size:14px;
	border:1px solid #009f82;
	text-align:left;
}
.bottom-box1{
    width: 30.5%;
    float:left;
	padding:5px;
    margin: 1px;
	font-size:14px;
	text-align:left;
}
#other{
    width: 2rem;
    height: 3rem;
}
